body{
    font-family: 'Orbitron', sans-serif;

}

.heading-container{
    display: flex;
}
.heading-container div{
    margin-top: 40px;
    border: 2px solid grey;
    
}
.half-width-left{
    width: 50%;
    margin-left: 30px;
    padding-left: 50px;
}
.half-width-right{
    width: 50%;
}
h2{
    font-size: 50px;
}
.hero-image{
    width: 80%;
}
.order-button{
    text-decoration: none;
    background-image: linear-gradient(orange, orange);
    padding: 15px 15px;
    font-weight: 400;
    border-radius: 7px;
}
.main-heading{
    display: flex;
    border: 2px solid goldenrod;
    margin-top: 10px;
    justify-content: center;
}
.first-div{
    background-color: aquamarine;
}
.second-div{
    background-color: goldenrod;
}